
body {
  margin: 0;
  font-family: 'Blinker', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(2,0,36);
  color: white;
  padding: 10px 0;
  align-items: center;
  
}

.left-nav {
  font-size: 50px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  width: 250px;
}

.right-nav a {
  text-decoration: none;
  color: white;
}

.price-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(26, 0, 36);
}

.box {
  padding-left: 0;
  margin: 10px 0;
  width: 60%;
  background-color: grey;
  text-align: center;
}
.box ul {
  padding-left: 0;
}

.box li{
  list-style: none;
  padding: 2px;
}


.box p {
  padding: 10px 0;
  background-color: #fc064c;
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 30px;
  width: 100%;
}