
body {
  margin: 0;
  font-family: 'Blinker', sans-serif;
}

header {
  border-bottom: 2px solid #fc064c;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(13, 13, 14);
  color: white;
  padding: 10px 0;
  align-items: center;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: #fc064c;
  position: relative;
  top: -20px;
  left: 80px;
}

.fa-brain,
.fa-coins,
.fa-codepen {
  font-size: 30px;
  position: relative;
  top: 15px;
}

.left-nav {
  font-size: 50px;
}

.right-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  width: 250px;
}

.right-nav a {
  text-decoration: none;
  color: white;
}

.price-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgb(59, 57, 59);
  padding-top: 20px;
}

.box {
  padding-left: 0;
  margin: 20px 0;
  width: 60%;
  background-color: grey;
  text-align: center;
}

.box ul {
  padding-left: 0;
}

.box li {
  list-style: none;
  padding: 2px;
}

.box p {
  padding: 10px 0;
  background-color: #fc064c;
  margin: 0;
  font-size: 30px;
  width: 100%;
}

li.price {
  padding-top: 40px;
  
}

@media screen and (min-width: 600px) {

}
